// Project gallery
.Main {
  display: grid;
  place-items: center;
  width: 100%;
}
.Header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2rem;
  text-align: center;
  font-size: 17px;
  margin-top: 6rem;

  h2 {
    font-weight: bold;
    font-family: sans-serif;
    text-align: center;
    font-size: 3rem;
    border-bottom: 1px solid gray;
    width: 20rem;
    border-radius: 20px;
    margin-bottom: 2rem;
  }
  span {
    color: purple;
  }
  p {
    width: 700px;
    color: white;
    font-size: 20px;
  }
}

.Gallery {
  list-style-type: none;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: hidden;
  width: 960px;
  font-family: Helvetica, sans-serif;
}

.Photo {
  width: 280px;
  height: 260px;
  margin: 10px;
  border-radius: 3px;
  display: block;
  width: 100%;
}

//Photo overlay
.Overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  opacity: 0;
  transition: 1s;
  &:hover {
    opacity: 1;
    cursor: pointer;
  }
}
.Image {
  position: relative;
  width: 280px;
  height: 260px;
  margin: 10px;
}

// ipad view
@media (max-width: 768px) {
  .Main {
    width: 100%;
    height: 100vh;
    .Gallery {
      width: 700px;
    }
    align-items: flex-start;
  }
  .Header {
    margin-bottom: 0rem;
    margin-top: 2rem;

    h2 {
      color: white;
      border-radius: 20px;
      margin-bottom: 1rem;
    }
    p {
      width: 700px;
      color: white;
      font-size: 18px;
    }
  }
}
// Mobile view

@media (max-width: 414px) {
  .Main {
    width: 100%;
    height: 100%;
    margin-bottom: 1rem;
    // align-items: flex-start;

    .Gallery {
      width: 350px;
      height: 100%;
    }
  }
  .Header {
    margin-bottom: 0rem;
    margin-top: 1rem;

    h2 {
      color: white;
      border-radius: 20px;
      margin-bottom: 1rem;
      font-size: 2.2rem;
      width: 12rem;
    }
    p {
      width: 350px;
      color: white;
      font-size: 18px;
    }
  }
}
