.MainContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px green solid;

  margin-top: 6rem;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 6rem;
  img {
    height: 3rem;
    width: 3rem;
  }
}
.Container {
  border: 1px green solid;
  height: 80vh;
  width: 40vw;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  //   height: 80vh;
  //   width: 40vw;
  color: white;
  .Header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2rem;
    text-align: center;
    font-size: 17px;

    h1 {
      font-weight: bold;
      font-family: sans-serif;
      text-align: center;
      font-size: 3rem;
      border-bottom: 1px solid gray;
      width: 20rem;
      border-radius: 20px;
      margin-bottom: 2rem;
    }
    span {
      color: purple;
    }
  }
  .Info {
    background-color: black;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    height: 38rem;
    justify-content: space-between;

    // align-items: center;
    .Image {
      padding: 1rem;
    }
  }
}
