body {
  background-color: #161515;
}
.Home {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  height: 89vh;
  width: 100vw;
  font-family: Helvetica, sans-serif;
  color: white;
  text-align: center;

  .Container {
    .TextTitle {
      font-size: 27px;
      margin-top: 18rem;
    }
    .TextName {
      font-size: 60px;
      font-weight: 600;
      animation: TextName 3s 1;
      letter-spacing: 8px;
      margin: 20px;
    }
  }
  .TextField {
    font-weight: bold;
    animation: typing 5s steps(22) 1s infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    float: left;
    margin-top: 1rem;
    margin-left: 5rem;
    font-size: 28px;
    color: white;
    font-family: Helvetica, sans-serif;
    width: 10rem;
    font-weight: bold;

    span {
      color: purple;
    }
  }
  .Crow {
    float: left;
    color: white;
    font-size: 30px;
    animation: crow 0.5s linear 0s infinite;
    font-weight: bold;
    margin-top: 1rem;
  }
}

/* @keyframes TextName {
  0% {
    color: black;
  }
  30% {
    letter-spacing: 25px;
  }
  85% {
    letter-spacing: 8px;
  }
} */
@keyframes crow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes typing {
  from {
    width: 0ch;
  }
  to {
    width: 22.5ch;
  }
}
// ipad view

@media (max-width: 768px) {
  .Home {
    height: 82vh;
  }
}

// mobile view

@media (max-width: 414px) {
  .Home {
    height: 86vh;
    width: 100vw;

    .Container {
      .TextTitle {
        font-size: 20px;
        margin-top: 15rem;
      }
      .TextName {
        font-size: 30px;
      }
      .TextField {
        font-size: 20px;
        margin-left: 3rem;
      }
      .Crow {
        font-size: 20px;
      }
    }
  }
}
