/* social media */

.Footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100vw;
}
.Media {
  ul {
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 12vw;
    li {
      list-style-type: none;
      a {
        .fa {
          color: gray;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .Footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100vw;
  }
  .Media {
    ul {
      width: 30vw;
    }
  }
}

@media (max-width: 414px) {
  .Footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100vw;
  }
  .Media {
    ul {
      width: 30vw;
    }
  }
}
