/* social media */

.Footer {
  flex-wrap: wrap;
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
  background-color: #161515;
  color: white;
}
.Media li {
  list-style-type: none;
  display: inline-block;
  font-size: 30px;
  color: #fff;
  border-radius: 10%;
  transition: 0.5s;
  margin-left: 20px;
  margin-right: 20px;
}
.Media .fa {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  width: 1.5rem;
  height: 2rem;
  color: gray;
}
